Debi_web/Connected Services/ServiceReferencedebi/WebServicedebi.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="District" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegisterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Admin_Register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="District" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Admin_RegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Admin_RegisterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Hotel_Register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Hotelname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TelNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="District" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="img" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Hotel_RegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Hotel_RegisterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add_Room">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="price" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Hid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Hname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="details" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="img" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add_RoomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Add_RoomResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Udate_Hotels">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hotelId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Hotelname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TelNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="District" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Udate_HotelsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Udate_HotelsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegisterSoapIn">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="Admin_RegisterSoapIn">
    <wsdl:part name="parameters" element="tns:Admin_Register" />
  </wsdl:message>
  <wsdl:message name="Admin_RegisterSoapOut">
    <wsdl:part name="parameters" element="tns:Admin_RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="Hotel_RegisterSoapIn">
    <wsdl:part name="parameters" element="tns:Hotel_Register" />
  </wsdl:message>
  <wsdl:message name="Hotel_RegisterSoapOut">
    <wsdl:part name="parameters" element="tns:Hotel_RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="Add_RoomSoapIn">
    <wsdl:part name="parameters" element="tns:Add_Room" />
  </wsdl:message>
  <wsdl:message name="Add_RoomSoapOut">
    <wsdl:part name="parameters" element="tns:Add_RoomResponse" />
  </wsdl:message>
  <wsdl:message name="Udate_HotelsSoapIn">
    <wsdl:part name="parameters" element="tns:Udate_Hotels" />
  </wsdl:message>
  <wsdl:message name="Udate_HotelsSoapOut">
    <wsdl:part name="parameters" element="tns:Udate_HotelsResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServicedebiSoap">
    <wsdl:operation name="Register">
      <wsdl:input message="tns:RegisterSoapIn" />
      <wsdl:output message="tns:RegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Admin_Register">
      <wsdl:input message="tns:Admin_RegisterSoapIn" />
      <wsdl:output message="tns:Admin_RegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Hotel_Register">
      <wsdl:input message="tns:Hotel_RegisterSoapIn" />
      <wsdl:output message="tns:Hotel_RegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Add_Room">
      <wsdl:input message="tns:Add_RoomSoapIn" />
      <wsdl:output message="tns:Add_RoomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Udate_Hotels">
      <wsdl:input message="tns:Udate_HotelsSoapIn" />
      <wsdl:output message="tns:Udate_HotelsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServicedebiSoap" type="tns:WebServicedebiSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Admin_Register">
      <soap:operation soapAction="http://tempuri.org/Admin_Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hotel_Register">
      <soap:operation soapAction="http://tempuri.org/Hotel_Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_Room">
      <soap:operation soapAction="http://tempuri.org/Add_Room" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Udate_Hotels">
      <soap:operation soapAction="http://tempuri.org/Udate_Hotels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServicedebiSoap12" type="tns:WebServicedebiSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Admin_Register">
      <soap12:operation soapAction="http://tempuri.org/Admin_Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Hotel_Register">
      <soap12:operation soapAction="http://tempuri.org/Hotel_Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add_Room">
      <soap12:operation soapAction="http://tempuri.org/Add_Room" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Udate_Hotels">
      <soap12:operation soapAction="http://tempuri.org/Udate_Hotels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServicedebi">
    <wsdl:port name="WebServicedebiSoap" binding="tns:WebServicedebiSoap">
      <soap:address location="http://localhost:60946/WebServicedebi.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServicedebiSoap12" binding="tns:WebServicedebiSoap12">
      <soap12:address location="http://localhost:60946/WebServicedebi.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>